<div class="row">
  <div class="col-sm-6">
<div class="media-left">
  {{#link-to 'contests.contest' contest.id}}
    <img class="media-object" src="http://placehold.it/64x64" alt="...">
  {{/link-to}}
</div>
<div class="media-body">
  <h4 class="media-heading">{{contest.name}}</h4>
  <p>${{contest.prize}}</p>
  <p>{{contest.end_date}}</p>
</div>
{{#if isClient}}<button class="btn btn-warning btn-xs" type="button" name="editButton" {{action 'edit'}}>Edit</button>{{/if}}
</div>
<div class="col-sm-6">
<p>  {{contest.description}}</p>
</div>
</div>

{{outlet}}
